.section4-header {
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.company-list {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.company-list .item {
  width: 170px;
  height: 92px;
  margin-right: 30px;
}

.company-icon {
  fill: #afb1b8;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.company-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  width: 170px;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  color: var(--icons-color);
}

.company-link:hover .company-icon,
.company-link:focus .company-icon {
  fill: var(--accent-color);
}

.company-link:hover,
.company-link:focus {
  border-color: var(--accent-color);
}
