.logo3 {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-family: Raleway;
  font-style: normal;
  color: white;
}

.footer {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-address {
  margin-top: 20px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: white;
}
.address-margin .item + .item {
  margin-top: 9px;
}

.footer-info {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.join-us-container {
  margin-right: 93px;
}

.subscribe-section {
  display: flex;
  display: block;
}

.subscribe-form-input {
  width: 358px;
  height: 50px;

  color: var(--main-text-color);
  background-color: var(--secondary-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  display: block;
  padding-left: 16px;
  padding-right: 16px;
  color: white;
}

.subscribe-form-container {
  display: flex;
}

.subscribe-form-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.form-btn {
  margin-left: 12px;
  padding: 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;
  color: white;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;

  &:hover,
  &:focus {
    background-color: #2196f3;
  }
}

.form-btn-icon {
  margin-left: 10px;
}

.footer-items {
  display: flex;
  align-items: baseline;
}

.footer-inf {
  margin-right: 70px;
}
