.logo1 {
  margin-top: 24px;
  margin-bottom: 25px;

  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-family: Raleway;
  font-style: normal;
  color: #2196f3;
}

.logo2 {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-family: Raleway;
  font-style: normal;
  color: var(--main-title-color);
}
