.social-list {
  display: flex;
  justify-content: center;
}

.social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.social-item:last-child {
  margin-right: 0px;
}

.social-link {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;

  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: currentColor;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.footer-social-title {
  font-size: 14px;
  line-height: 1.14;
  line-height: 100%;
  text-align: Left;
  vertical-align: Top;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer-social-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-link .social-icon {
  fill: white;
}
